<div class="pensamento {{ pensamento.modelo }} ff-roboto-mono " [ngClass]="larguraPensamento()" >
  <img src="/assets/Imagens/{{ pensamento.modelo }}.png" alt="Aspas">
  <p class="conteudo">{{ pensamento.conteudo }}</p>
  <p class="autoria"><b>{{ pensamento.autoria }}</b></p>
  <div class="acoes">
    <div class="botao-favorito" (click)="atualizarFavoritos()" >
      <img src="assets/Imagens/icone-favorito-{{mudarIconeFavorito()}}.png" alt="Ícone favorito{{mudarIconeFavorito()}}">
    </div>
    <button class="botao-editar">
      <img src="/assets/Imagens/icone-editar.png" routerLink="/pensamentos/EditarPensamento/{{pensamento.id}}" alt="Ícone de Editar">
    </button>
    <button class="botao-excluir" routerLink="/pensamentos/excluirPensamento/{{pensamento.id}}">
      <img src="/assets/Imagens/icone-excluir.png" alt="Ícone de Excluir">
    </button>
  </div>
</div>

